/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.container {
    width: 100%;
    display: block;
    margin: 0;
    padding: 10px;
    border-top: 2px solid #45A1D8;
    border-left: 2px solid #45A1D8;
    border-right: 2px solid #45A1D8
}

.row {
    width: 33.33%;
    text-align: center;
    display: inline-block;
    padding: 10px 10px 0 0;
    margin: -5px;
}

img {
    height: 150px;
    width: 150px;
}

.addtocart {
    height: 50px;
    width: 120px;
    padding-top: 10px;
    padding-bottom: 10px;
}

h1, p {
    margin: 5px;
    color: #45A1D8;
}

h3 {
    margin: 5px;
    padding-bottom: 10px;
    color: #CECECE;
}

/*Media Query*/

@media only screen
    and (orientation: landscape)
    and (max-width:1024px) {
        .container {
            width: 100%;
            min-width: 0;
        }

        .row {
            width: auto;
            float: none;
        }
}

@media only screen
    and (max-width:460px) {
        .container {
            width: 100%;
            min-width: 0;
        }

        .row {
            width: auto;
            float: none;
        }

}
